//Cores da Marca e Destaques

$color-primary: #F7CA11; //cor principal de identidade da marca
$color-secondary: #3442B5; //segunda cor de maior impacto na interface
$color-unity: #271C47;

$color-bg-main-card: #fff; // O fundo geral da página
$color-border: #9F9F9F; //A cor utilizada nas bordas dos cards, divisores e linhas do layout

$color-text-primary: #000; // A cor dos títulos e textos principais
$color-text-secondary: #3B3B3B; //A cor dos títulos e textos secundarios
$color-text-light: #fff; //Texto para fundos escuros

$font-primary: 'Poppins', sans-serif; //Fonte da aplicação